<header class="header">
    <div class="header__avatar">
        <img class="header__avatar__picture" src="{{ "/assets/images/avatar_accent.png" | relative_url }}" alt="">
        <div class="header__avatar__hello">
            <p class="header__avatar__hello__name">Dawid Lipinski</p>
            <p class="header__avatar__hello__hello">Hello.</p>
        </div>
    </div>
    <nav class="header__nav">
        <ul class="header__nav__buttons">
            <li class="header__nav__button active">
                <a class="header__nav__button__link" href="">Resume</a>
            </li>
            <li class="header__nav__button">
                <a class="header__nav__button__link" href="">Works</a>
            </li>
            <li class="header__nav__button">
                <a class="header__nav__button__link" href="">Blog</a>
            </li>
            <li class="header__nav__button">
                <a class="header__nav__button__link" href="https://github.com/dawidlipinski">
                    <img class="" src="{{ "/assets/icons/github.svg" | relative_url }}">
                </a>
            </li>
            <li class="header__nav__button">
                <a class="header__nav__button__link" href="https://www.linkedin.com/in/lip3k">
                    <img class="" src="{{ "/assets/icons/linkedin.svg" | relative_url }}">
                </a>
            </li>
            <li class="header__nav__button mobile-menu-toggle">
                <img class="header__nav__hamburger" src="{{ "/assets/icons/hamburger.svg" | relative_url }}">
            </li>
        </ul>
    </nav>
</header>