@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

@import "reset";
@import "variables";

body {
  background: $background-color;
  color: $body-color;
  font-family: $body-font;
  font-size: 16px;
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
}

.bg-accent-dark {
  //color: $color-accent-dark;
  background-color: $color-accent-dark;
}

.bg-accent-light {
  //color: $color-accent-dark;
  background-color: $color-accent-light;
}

@import "layouts/_index";
@import "includes/_index";
