$background-color: #fafafa;
$body-color: #2f3542;
$body-color-lighter: lighten(#2f3542, 5%);
$body-font: 'Roboto', sans-serif;
$color-accent-dark: #0652DD;
$color-accent-light: #FFC312;
$font-display: 'Bebas Neue', cursive;
