<li class="employment">

    <section class="employment__heading">
        <h2 class="employment__position">{{ employment.position }}<span class="employment__mode">/ {{ employment.mode }}</span></h2>
        <h3 class="employment__company">{{ employment.company }}</h3>
    </section>

    <section class="employment__description">
        {{ employment.content | markdownify }}
    </section>

    <p class="employment__stack">Stack:
        {% for tech in employment.stack %}
            {{ tech }}{% if forloop.last != true %}, {% endif %}
        {% endfor %}
    </p>

    <p class="employment__dates">{{ employment.start_date | date: "%B %Y" }} - {{ employment.end_date | date: "%B %Y" | default: 'Present' }}</p>

</li>